body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkout-form{
    display: flex;
    flex-direction: column;
}
.checkout-form label {
    margin: 10px 0 5px;
}

.checkout-form input, .checkout-form select,.checkout-form button{
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    
    position: fixed;
    width: 100%;
    bottom: 0;
}